---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
// import "../form.css"
const currentUrl=Astro.request.url;
---

<Header title="Public Sector" description="" canonical={ currentUrl }>
	<style>
		.h6,h1{text-align:left}.home-title,h1{font-family:Instrument Sans;letter-spacing:-.03em}.h6,.home_description{line-height:28.8px;color:#fff}.h6,.home-title,h1{color:#fff}h1{font-size:44px;font-weight:600;line-height:52.8px}.h6{font-family:Instrument Sans;font-size:18px;font-weight:500}.home-title{font-size:60px;font-weight:600;text-align:center;z-index:1}.contract,.home_description{font-family:Instrument Sans;font-size:18px;font-weight:500}.site-title-layer{height:430px;background-size:cover;background-color:#000}.home_description{z-index:1}.site-title-layer::before{content:"";background-image:url("/svg/banner_bg.svg");height:435px;width:100%;position:absolute;inset:0;z-index:0}.contract{line-height:20px;text-align:left;color:#000000CC}@media (max-width:600px){.post{width:100%}.post_title{font-size:24px}.blogs-title{font-size:32px}.blogMain{background-color:#292d6b;color:#fff}.site-title-layer::before{height:435px}}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 lg:py-12 py-12 site-title-layer overflow-hidden relative flex items-center" >
			<div class="header flex flex-col items-center justify-center">
				<h1 class="home_title text-center mb-5">
					Co - Operative Contracts
				</h1>
				<h6 class="home_description flex-none lg:w-[70%] text-center">
					SPI has established cooperative agreements with renowned agencies like DIR (Department of Information Resources) and NCTCOG (North Central Texas Council of Governments), ensuring you can secure the technology and support you need without the lengthy procurement process.
				</h6>
			</div>
		</div>
		<section>
			<!-- we are a service -->
			<div class="lg:px-12 px-8 pb-28 bg-[#000000]">
				<div class="inner-layer-innovator flex lg:flex-row flex-col gap-6">
					<div class="flex-1 bg-white group px-10 py-12">
						<div class="transform-bussiness overflow-hidden pb-8 border-b-[1.8px]">
							<img src="/svg/operative1.svg" width="214px" height="117px" style="object-fit: cover;" alt="North Central Texas Council of Government" class="scale-[.9] transition delay-150 duration-300 group-hover:scale-[1]">
						</div>
						<div class="">
							<div class="contract pt-8 pb-6">Contract: 2023-069</div>
							<div>
								<a href="https://www.nctcog.org/" target="_blank">
									<Cbtn colorbtnText="View Contract Details" classname="" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" fillColor />
								</a>
							</div>
						</div>
					</div>
					<div class="flex-1 bg-white group px-10 py-12">
						<div class="transform-bussiness overflow-hidden pb-8 border-b-[1.8px]">
							<img src="/svg/operative2.svg" width="214px" height="117px" style="object-fit: cover;" alt="Department of management services" class="scale-[.9] transition delay-150 duration-300 group-hover:scale-[1]">
						</div>
						<div class="">
							<div class="contract pt-8 pb-6">Contract: 80101507-22-STC-ITSA</div>
							<div>
								<a href="https://www.dms.myflorida.com/business_operations/state_purchasing/state_contracts_and_agreements?q=80101507-22-STC-ITSA&page=1" target="_blank">
									<Cbtn colorbtnText="View Contract Details" classname="" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" fillColor="" />
								</a>
							</div>
						</div>
					</div>
					<div class="flex-1 bg-white group px-10 py-12">
						<div class="transform-bussiness overflow-hidden pb-8 border-b-[1.8px]">
							<img src="/svg/operative3.svg" width="214px" height="117px" style="object-fit: cover;" alt="Texas department of information resources" class="scale-[.9] transition delay-150 duration-300 group-hover:scale-[1]">
						</div>
						<div class="">
							<div class="contract pt-8 pb-6">Contract: DIR-CPO-5651</div>
							<div>
                                <a href="https://www.spius.net/public-sector/DIR-CPO-5651" target="_blank">
								    <Cbtn colorbtnText="View Contract Details" classname="" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
                                </a>    
                            </div>
						</div>
					</div>
				</div>
			</div>

			<!-- <table style='max-width: 40%; margin: 0 auto; padding: 4rem 3rem; background-color: white;'><tr><td style="border-top: 6px solid #B5DB00"><div><p>Hey Team,<br><br>We noticed a new job submission your website. Details Below.<br><br>Name<br><span style='color: #006B9E;'>email name</span><br><br>Email ID<br><span style='color: #006B9E;'>email</span><br><br>Phone Number<br><span style='color: #006B9E;'>mobile</span><br></br>Resume<br><span style='color: #006B9E;'><a href='/' target='_blank'>image</a></span><br><br>Page Url<br><span style='color: #006B9E;'>sample</span></p></div></td></tr></table>

			<table width="100%" cellspacing="0" cellpadding="0"><tr><td style="background-color: #B5DB00; padding: 20px;"><div class='display: flex; justify-content: center;'><img src='https://www.fresharaagroexports.com/assets/Images/career_job.webp' width='343' height='247'></div><div><p>Hey Team,<br><br>We noticed a new job submission on your website. Details Below.<br><br>name<br><span style="color: #006B9E;">email name</span><br><br>Email ID<br><span style="color: #006B9E;">email</span><br><br>Phone Number<br><span style="color: #006B9E;">mobile</span><br><br>Resume<br><span style="color: #006B9E;"><a href="/" target="_blank">imagelist</a></span><br><br>Page Url<br><span style="color: #006B9E;">url</span></p></div></td></tr></table>   -->
						 
			<!-- <table width="100%" cellspacing="0" cellpadding="0" style="border-top: 6px solid #B5DB00; padding: 20px;"><tr><td align="center"><table width="600" cellspacing="0" cellpadding="0" style="background-color: white; padding: 20px;"><tr><td align="center" style="padding-bottom: 20px;"><img src="https://www.fresharaagroexports.com/assets/Images/career_job.webp" width="343" height="247" style="display: block; max-width: 100%; height: auto;"></td></tr><tr><td style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #333;"><p>Hey Team,<br><br>We noticed a new job submission on your website. Details Below.<br><br>Name<br><span style="color: #006B9E;">${emailInput.name}</span><br><br>Email ID<br><span style="color: #006B9E;">${emailInput.email}</span><br><br>Phone Number<br><span style="color: #006B9E;">${emailInput.mobile}</span><br><br>Resume<br><span style="color: #006B9E;"><a href="${imagelist}" target="_blank">${imagelist}</a></span><br><br>Page Url<br><span style="color: #006B9E;">${window.location.href}</span></p></td></tr></table></td></tr></table> -->
			  
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

