---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../form.css"

const services_data = [
	{ title: "Application<br> Management", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br> SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image1.webp"},
	{ title: "IT<br> Staffing", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br> SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image3.webp"},
	{ title: "Digital<br> Transformation", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image5.webp"},
]

const social_feeds = [
	{ title: "Software Professionals1, Inc.", url: "/social/social_feed1.webp"},
	{ title: "Software Professionals2, Inc2.", url: "/social/social_feed2.webp"},
	{ title: "Software Professionals3, Inc3.", url: "/social/social_feed3.webp"},
]

const services_data2 = [
	{ title: "Enterprise<br> Infrastructure", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br> SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image2.webp"},
	{ title: "Business Intelligence / Analysis", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br> SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image4.webp"},
	{ title: "Professional<br> Services", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image6.webp"},
]

const blogs = [
    { 
        title : "The Difference SafeConnect Made for Us!",
        description : "SafeConnect has revolutionized our workplace safety culture. The app actively engages our employees in identifying risks and sharing best practices, leading to a noticeable decrease in incidents. Its focus on observation and intervention has made safety a habit for our team, creating a hazard-free environment that we can all feel proud of!",
		name : "Jeffry Jones",
		position: "CEO, Neo Technologies"
    },
    { 
        title : "Safe and Secure Product",
        description : "SafeConnect has revolutionized our workplace safety culture. The app actively engages our employees in identifying risks and sharing best practices, leading to a noticeable decrease in incidents. Its focus on observation and intervention has made safety a habit for our team, creating a hazard-free environment that we can all feel proud of!",
		name : "Karthik",
		position : "CEO, Kytz Labs"
	},
    { 
        title : "The Difference SafeConnect Made for Us!",
        description : "SafeConnect has revolutionized our workplace safety culture. The app actively engages our employees in identifying risks and sharing best practices, leading to a noticeable decrease in incidents. Its focus on observation and intervention has made safety a habit for our team, creating a hazard-free environment that we can all feel proud of!",
		name : "Karthik",
		position : "CEO, Kytz Labs"
	},
	{ 
        title : "The Difference SafeConnect Made for Us!",
        description : "SafeConnect has revolutionized our workplace safety culture. The app actively engages our employees in identifying risks and sharing best practices, leading to a noticeable decrease in incidents. Its focus on observation and intervention has made safety a habit for our team, creating a hazard-free environment that we can all feel proud of!",
		name : "Karthik",
		position : "CEO, Kytz Labs"
	},
]

---


<Header title="home page">
	<style>
		.site-title-layer {
			background-image: url("/banners/home_banner.webp");
			height: 609px;
			background-size: cover;
		}
		.header_buttons{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 19.52px;
			text-align: left;
			color: #B5DB00;
		}
		.home_description{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 28.8px;
			text-align: left;
			color: #FFFFFF;
		}
		.transform-bussiness{
			font-family: Instrument Sans;
			font-size: 39px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #D9D9D9;
		}
		.about-company{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 700;
			line-height: 18.2px;
			letter-spacing: 0.1em;
			text-align: left;
			color: #FFFFFF;
		}
		.about-description {
			font-family: Instrument Sans;
			font-size: 17px;
			font-weight: 500;
			line-height: 28.8px;
			text-align: left;
			color: #FFFFFF99;
		}

		/* services section */
		.services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
			color: #000000;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
			color: #000000CC;
		}

		/* awards & achievements */
		.award-title{
			font-family: Instrument Sans;
			font-size: 70px;
			font-weight: 600;
			line-height: 84px;
			letter-spacing: -0.03em;
			text-align: left;
			color: white;
			transform: translateY(100%);
		}
		.award-description{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 28.8px;
			text-align: left;
			color: #FFFFFF99;
		}
		.empower-title{
			font-family: Instrument Sans;
			font-size: 44px;
			font-weight: 600;
			line-height: 52.8px;
			letter-spacing: -0.03em;
			text-align: left;	
			color:white;
		}
		.award-content-section{
			transform: translateY(100%);
		}
		.innovator-content{
			transform: translateY(100%);
		}
		.logos{
			transform: translateY(100%);
		}

		/* products */
		.product-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 700;
			line-height: 28.8px;
			letter-spacing: 0.1em;
			text-align: left;
			color: white;
		}
		.product_section{
			height: 680px;
			background-image: url("/products.webp");
			background-size: cover;
		}
		.check{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			color: #FFFFFF;
		}
		.product_description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
		.modules > li {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
		.card-title{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #FFFFFF;
		}
		.card-description{
			font-family: Instrument Sans;
			font-size: 17px;
			font-weight: 500;
			line-height: 18px;
			text-align: left;
			color: #FFFFFF99;
		}
		.card-banner{
			background-image: url("/banners/card_banner.webp");
			background-size: cover;
			height: 100%;
			width: 100%;
		}
		.social-wall{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48.8px;
			letter-spacing: -0.03em;
			text-align: center;
			color: black;
		}

		/* social feeds */
		.social_feed_title{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.like_share{
			font-size: 12px;
			color:gray;
		}
		/* clients feedback */
		.clients-feedback{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 19.2px;
			letter-spacing: 0.1em;
			text-align: left;
			color: #FFFFFF;
		}
		.client-name{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
			color: #FFFFFF;
		}
		.client-position{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 400;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFF80;
		}
		@media (max-width: 600px) {
			.site-title-layer {
				background-position: center;
			}
			.award-title{
				font-size: 42px;
				line-height: 54px;
				text-align:left;
			}
			.empower-title{
				font-size: 42px;
				line-height: 54px;
				text-align:left;
			}
		}
		.post{
			flex-shrink: 0;
			width: 70.3%;
			transition: all 1s ease;
			opacity: .5;
			scale: .8;
		}
		.post:first-child{
			opacity:1;
			scale: 1;
		}
		.pre-post{
			opacity:1;
			scale: 1;
		}
		.post_title{
			font-family: Atkinson Hyperlegible;font-size: 26px;font-weight: 700;line-height: 39.68px;text-align: left;
		}
		.post-inner-layer > img{
			width:100%;
		}
		.small_desc{
			font-size: 14px;
			font-weight: 600;
			line-height: 22.4px;
			text-align: left;
			color: rgba(51, 51, 51, 1);
		}
		.blogs-title{
			font-family: Atkinson Hyperlegible;font-size: 32px;font-weight: 700;line-height: 39.68px;text-align: left;color:rgba(0, 0, 0, 1);
		}
		.clients-title{
			font-family: Instrument Sans;
			font-size: 32px;
			font-weight: 600;
			line-height: 38.4px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #FFFFFF;
		}
		.clients-description{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 28.8px;
			text-align: left;
			color: #FFFFFF99;
		}

		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 lg:py-12 py-12 site-title-layer overflow-hidden relative flex items-end" >
			<div class="">
				<h1 class="home_title">
					Transforming Business with AI<br> and Data-Driven Solutions
				</h1>
				<div class="flex flex-1 lg:flex-row flex-col lg:items-center mt-6">
					<h6 class="home_description flex-none lg:w-[70%]">
						Software Professionals, Inc. is an IT services and custom software development firm specializing in transforming business processes using AI and data analytics to drive business value.
					</h6>
					<div class="flex flex-1 lg:justify-end lg:mt-0 mt-6">
						<a class="header_buttons pr-3 border-r border-[#B5DB00]" href="explore-products">Explore Products</a>
						<a class="header_buttons ps-3" href="explore-services">Explore Services</a>
					</div>
				</div>
			</div>
		</div>
		<section>
			<!-- we are a service -->
			<div class="lg:px-12 lg:py-24 py-20 px-8 bg-[#202020]">
				<div class="inner-layer-innovator flex lg:flex-row flex-col">
					<div class="flex-1">
						<div class="transform-bussiness overflow-hidden">
							<div class="innovator-content lg:min-h-[50px]">
								<span class="text-[#B5DB00] lg:block inline">We Are a Service and Product Innovator,</span> Delivering Solutions that Transform Businesses
							</div>
						</div>
						<div class="overflow-hidden">
							<div class="flex lg:flex-row flex-col mt-20 gap-6 lg:min-h-[150px] innovator-content">
								<div>
									<div class="about-company pb-5">ABOUT COMPANY</div>
									<div class="about-description lg:w-[80%]">
										SPI is a leading IT solutions, consulting and implementation company. SPI is known for its delivery and service excellence, which hasn't changed since 1992.
									</div>
								</div>
								<div>
									<div class="about-company pb-5">MISSION</div>
									<div class="about-description lg:w-[80%]">
										To be an integrated partner with our customers by leveraging technology, velocity, flexibility and quality that enables them to seamlessly service their end customers
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="lg:self-end self-start lg:mt-0 mt-6 overflow-hidden">
						<div class="lg:min-h-[50px] innovator-content">
							<Cbtn colorbtnText="Konw more" classname="brand-button" bgcolor="#006B9E" textColor="white" cursor="pointer" display="block" />
						</div>
					</div>
				</div>
			</div>
			<!-- services -->
			<div class="lg:pl-12 pl-8 pr-8 lg:pb-28 lg:pr-40">
				<div class="inner-layer flex lg:flex-row flex-col lg:pb-0 pb-8 gap-12">
					<div class="recent-blog-title flex-none lg:sticky lg:h-screen top-0 lg:w-[22%] flex-none lg:pt-28 pt-20">
						<div class="services">Services</div>
					</div>
					<div class="flex-1 flex lg:flex-row flex-col gap-10 flex-1 lg:pt-28">
						<div class="flex-1">
							{
								services_data.map((data, dataIndex) => (
									<div class="border-[1.2px] px-8 py-12 min-h-[400px] flex flex-col justify-between relative group mb-5 overflow-hidden">
										{/* <div class="services-title z-[20] z-[20]">Application<br> Management</div> */}
										<div class="services-title z-[20] z-[20] group-hover:text-white transition ease-in-out delay-150 duration-300" set:html={data.title}></div>
										<div class="services-description z-[20] z-[20] text-black group-hover:text-white transition ease-in-out delay-150 duration-300" set:html={data.description}>
										</div>
										<div class="absolute inset-x-0 w-full z-[10] h-[100%] translate-y-[98%] group-hover:translate-y-0 transition ease-in-out delay-150 duration-300 bottom-0" style={ `background-image: url(${data.url}); width: 100%; background-size: cover;` }> 
										</div>
									</div>
								))
							}
						</div>
						<div class="flex-1 lg:mt-16">
							{
								services_data2.map((data, dataIndex) => (
									<div class="border-[1.2px] px-8 py-12 min-h-[400px] flex flex-col justify-between relative group mb-5 overflow-hidden">
										{/* <div class="services-title z-[20] z-[20]">Application<br> Management</div> */}
										<div class="services-title z-[20] z-[20] group-hover:text-white transition ease-in-out delay-150 duration-300" set:html={data.title}></div>
										<div class="services-description z-[20] z-[20] text-black group-hover:text-white transition ease-in-out delay-150 duration-300" set:html={data.description}>
										</div>
										<div class="absolute inset-x-0 w-full z-[10] h-[100%] translate-y-[98%] group-hover:translate-y-0 transition ease-in-out delay-150 duration-300 bottom-0" style={ `background-image: url(${data.url}); width: 100%; background-size: cover;` }> 
										</div>
									</div>
								))
							}
						</div>
					</div>
				</div>
			</div>
			<!-- Awards -->
			<div class="lg:px-12 px-8 lg:py-24 py-20 bg-[#141414]">
				<div class="inner-layer-award">
					<div class="flex lg:flex-row flex-col justify-between lg:items-center overflow-hidden">
						<div class="award-title lg:mb-0 mb-5 lg:min-h-[160px]">Awards &<br> Achievements</div>
						<div class="lg:w-[38%] lg:min-h-[160px] award-content-section">
							<div class="award-description pb-8">SPI has won a number of regional and national awards for rapid-growth and quality.</div>
							<Cbtn colorbtnText="Konw more" classname="brand-button" bgcolor="#006B9E" textColor="white" cursor="pointer" display="block" />
						</div>
					</div>
					<div class="overflow-hidden">
						<div class="flex lg:flex-row flex-col gap-5 mt-16 lg:min-h-[140px] logos">
							<div class="flex-1 min-h-[140px] flex items-center justify-center bg-[#FFFFFF08]">
								<img src="/awards/awards1.webp" height="50" width="101">
							</div>
							<div class="flex-1 min-h-[140px] flex items-center justify-center bg-[#FFFFFF08]">
								<img src="/awards/awards2.webp" height="97" width="88">
							</div>
							<div class="flex-1 min-h-[140px] flex items-center justify-center bg-[#FFFFFF08]">
								<img src="/awards/awards3.webp" height="75" width="70">
							</div>
							<div class="flex-1 min-h-[140px] flex items-center justify-center bg-[#FFFFFF08]">
								<img src="/awards/awards4.webp" height="75" width="90">
							</div>
							<div class="flex-1 min-h-[140px] flex items-center justify-center bg-[#FFFFFF08]">
								<img src="/awards/awards5.webp" height="75" width="70">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- empowering bussiness -->
			<div class="lg:pt-24 pb-0 pt-20 lg:px-0 px-8 bg-[#141414]">
				<div class="inner-layer">
					<div class="lg:px-12">
						<div class="empower-title">Empowering Businesses with <span class="text-[#B5DB00]">Smart, Reliable Solutions</span> for a Safer Environment Friendly Tomorrow</div>
					</div>
					<div class="flex lg:flex-row flex-col bg-white mt-16">
						<div class="flex-1 product_section relative border-r-[1.5px] border-black">
							<div class="product-title p-12">Products</div>
							<div class="absolute bottom-20 check left-12">
								<a href="#" class="underline">Check all Products</a>
							</div>
						</div>
						<div class="flex-1 lg:min-h-[140px] overflow-hidden relative bg-white px-8 group pt-4 mb-4 transition duration-300 delay-150 hover:mb-0 border-r-[1.5px] border-black">
							<div class="border-b-[1.6px] relative pb-3 z-[10]">
								<img src="/product_logo/product_logo1.webp" width="150px" height="73px" class="scale-100 group-hover:scale-50 transition delay-150 duration-300" >
							</div>
							<div class="product_description lg:text-[#00000099] lg:group-hover:text-white text-white relative my-4 z-[10]">
								A safety app that engages employees to improve safety practices, aiming for zero incidents.
							</div>
							<div class="font-[700] relative text-[16px] lg:text-[#00000099] lg:group-hover:text-white text-white leading-[19.2px] pb-2 z-[10]">
								Modules
							</div>
							<div class="z-[10] relative">
								<ol class="list-decimal lg:text-[#00000099] lg:group-hover:text-white text-white pl-5 modules">
									<li>Observation and Intervention (O&I)</li>
									<li>Job Safety Analysis (JSA)</li>
									<li>Risk Assessment</li>
									<li>Safety Walkthrough</li>
									<li>Personal Safety Plan (PSP)</li>
									<li>Incident Notification</li>
								</ol>
							</div>
							<div class="mt-5 relative z-[10] lg:opacity-0 lg:group-hover:opacity-[1] opacity-100 transition duration-500 delay-50 ease-in-out">
								<Cbtn colorbtnText="Learn more" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
							</div>
							<div class="mt-8 overflow-hidden h-[180px] bottom-0 text-[#00000099] group-hover:bottom-0 lg:absolute z-[10] transition duration-500 delay-50 ease-in-out" >
								<img src="/mobile.webp" class="group-hover:scale-90 scale-75 transition delay-150 -translate-y-[4%] group-hover:-translate-y-[8%] duration-300" />
							</div>
							<div class="absolute bottom-4 inset-0 lg:inset-x-4 lg:translate-y-3/4 lg:group-hover:translate-y-0 lg:group-hover:inset-x-0 lg:group-hover:rounded-[0] lg:group-hover:bottom-0 lg:rounded-lg bg-[#006B9E] transition duration-500 delay-50 ease-in-out">
								
							</div>
						</div>
						<div class="flex-1 lg:min-h-[140px] overflow-hidden relative bg-white px-8 group pt-4 mb-4 transition duration-300 delay-150 hover:mb-0 border-r-[1.5px] border-black">
							<div class="border-b-[1.6px] relative pb-3 z-[10]">
								<img src="/product_logo/product_logo2.webp" width="150px" height="73px" class="scale-100 group-hover:scale-50 transition delay-150 duration-300" >
							</div>
							<div class="product_description text-[#00000099] relative my-4 z-[10]">
								A solution for managing environmental data and reports. It helps reduce costs and ensures compliance with environmental regulations.
							</div>
							<div class="font-[700] relative text-[16px] text-[#00000099] leading-[19.2px] pb-2 z-[10]">
								BENEFITS
							</div>
							<div class="z-[10] relative">
								<ol class="list-decimal text-[#00000099] pl-5 modules">
									<li>A Useful and Accessible Asset</li>
									<li>Field Tested and Approved</li>
								</ol>
							</div>
							<div class="mt-5 relative z-[10] opacity-0 group-hover:opacity-[1] transition duration-500 delay-50 ease-in-out">
								<Cbtn colorbtnText="Learn more" classname="brand-button" bgcolor="#006B9E" textColor="white" cursor="pointer" display="block" />
							</div>
							<div class="mt-8 overflow-hidden h-[180px] bottom-0 text-[#00000099] group-hover:bottom-0 absolute z-[10] transition duration-500 delay-50 ease-in-out" >
								<img src="/laptop.webp" class="group-hover:scale-90 scale-75 transition delay-150 -translate-y-[4%] group-hover:-translate-y-[8%] duration-300" />
							</div>
							<div class="absolute bottom-4 inset-0 inset-x-4 translate-y-3/4 group-hover:translate-y-0 group-hover:inset-x-0 group-hover:rounded-[0] group-hover:bottom-0 rounded-lg bg-[#B5DB00] transition duration-500 delay-50 ease-in-out">
								
							</div>
						</div>
						<div class="flex-1 lg:min-h-[140px] overflow-hidden relative bg-white px-8 group pt-4 mb-4 transition duration-300 delay-150 hover:mb-0 border-r-[1.5px] border-black">
							<div class="border-b-[1.6px] relative pb-3 z-[10]">
								<img src="/product_logo/product_logo3.webp" width="150px" height="73px" class="scale-100 group-hover:scale-50 transition delay-150 duration-300" >
							</div>
							<div class="product_description text-[#00000099] group-hover:text-white relative my-4 z-[10]">
								A software for managing the entire permit process, from application to occupancy. 
							</div>
							<div class="font-[700] relative text-[16px] text-[#00000099] group-hover:text-white leading-[19.2px] pb-2 z-[10]">
								FEATURES
							</div>
							<div class="z-[10] relative">
								<ol class="list-decimal text-[#00000099] group-hover:text-white pl-5 modules">
									<li>OPermit management</li>
									<li>Compliance tracking</li>
									<li>Plant management</li>
									<li>Easy to navigate</li>
									<li>Inspection tracking</li>
									<li>GIS tracking</li>
									<li>Digital data</li>
									<li>Time saver</li>
								</ol>
							</div>
							<div class="mt-5 relative z-[10] opacity-0 group-hover:opacity-[1] transition duration-500 delay-50 ease-in-out">
								<Cbtn colorbtnText="Learn more" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
							</div>
							<div class="mt-8 overflow-hidden h-[180px] bottom-0 text-[#00000099] group-hover:bottom-0 absolute z-[10] transition duration-500 delay-50 ease-in-out" >
								<img src="/laptop2.webp" class="group-hover:scale-90 scale-75 transition delay-150 -translate-y-[4%] group-hover:-translate-y-[8%] duration-300" />
							</div>
							<div class="absolute bottom-4 inset-0 inset-x-4 translate-y-3/4 group-hover:translate-y-0 group-hover:inset-x-0 group-hover:rounded-[0] group-hover:bottom-0 rounded-lg bg-[#006B9E] transition duration-500 delay-50 ease-in-out">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- current openings -->
			<div class="lg:px-16 px-8 lg:py-12 bg-[#141414] py-20">
				<div class="inner-layer lg:px-8 py-16 lg:items-center">
					<div class="clients-feedback border-b-[1.5px] pb-3 border-[#FFFFFF1F] w-full">
						CLIENT’S  FEEDBACK
					</div>
					<div class="flex flex-row flex-1 overflow-hidden">
						{
							(blogs && blogs.map((blogCon) => (
								<div class="post pr-12">
									<div class="clients-title mt-16 mb-8">
										{blogCon.title}
									</div>
									<div class="clients-description">
										{blogCon.description}
									</div>
									<div class="client-name mt-8">
										{blogCon.name}
									</div>
									<div class="client-position">
										{blogCon.position}
									</div>
								</div>
							)))
						} 
					</div>
					<!-- forward backward buttons -->
					<div class="lg:py-8 py-4 flex flex-row justify-start gap-4"> 
						<!-- <button>backward</button> -->
						<svg class="post-back-buttons" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="50" height="50" rx="25" transform="matrix(-1 0 0 1 50 0)" fill="white" fill-opacity="0.1"/>
							<rect x="-0.5" y="0.5" width="49" height="49" rx="24.5" transform="matrix(-1 0 0 1 49 0)" stroke="white" stroke-opacity="0.12"/>
							<path d="M32 25.9994H20.14L23.77 30.3594C23.9397 30.5636 24.0214 30.8269 23.997 31.0913C23.9726 31.3557 23.8442 31.5996 23.64 31.7694C23.4358 31.9391 23.1725 32.0208 22.9081 31.9964C22.6437 31.972 22.3997 31.8436 22.23 31.6394L17.23 25.6394C17.1957 25.5921 17.1656 25.5419 17.14 25.4894C17.14 25.4394 17.14 25.4094 17.07 25.3594C17.0247 25.2447 17.0009 25.1226 17 24.9994C17.0009 24.8761 17.0247 24.754 17.07 24.6394C17.07 24.5894 17.07 24.5594 17.14 24.5094C17.1656 24.4568 17.1957 24.4066 17.23 24.3594L22.23 18.3594C22.324 18.2465 22.4418 18.1557 22.5748 18.0935C22.7079 18.0313 22.8531 17.9991 23 17.9994C23.2337 17.9989 23.4601 18.0803 23.64 18.2294C23.7413 18.3133 23.825 18.4164 23.8863 18.5328C23.9477 18.6491 23.9855 18.7764 23.9975 18.9074C24.0096 19.0384 23.9957 19.1704 23.9567 19.296C23.9176 19.4216 23.8542 19.5383 23.77 19.6394L20.14 23.9994H32C32.2652 23.9994 32.5196 24.1047 32.7071 24.2923C32.8946 24.4798 33 24.7341 33 24.9994C33 25.2646 32.8946 25.5189 32.7071 25.7065C32.5196 25.894 32.2652 25.9994 32 25.9994Z" fill="white"/>
						</svg>
							
						<svg class="post-forward-buttons" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="50" height="50" rx="25" fill="#006B9E"/>
							<rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="white" stroke-opacity="0.12"/>
							<path d="M18 25.9994H29.86L26.23 30.3594C26.0603 30.5636 25.9786 30.8269 26.003 31.0913C26.0274 31.3557 26.1558 31.5996 26.36 31.7694C26.5642 31.9391 26.8275 32.0208 27.0919 31.9964C27.3563 31.972 27.6003 31.8436 27.77 31.6394L32.77 25.6394C32.8043 25.5921 32.8344 25.5419 32.86 25.4894C32.86 25.4394 32.86 25.4094 32.93 25.3594C32.9753 25.2447 32.9991 25.1226 33 24.9994C32.9991 24.8761 32.9753 24.754 32.93 24.6394C32.93 24.5894 32.93 24.5594 32.86 24.5094C32.8344 24.4568 32.8043 24.4066 32.77 24.3594L27.77 18.3594C27.676 18.2465 27.5582 18.1557 27.4252 18.0935C27.2921 18.0313 27.1469 17.9991 27 17.9994C26.7663 17.9989 26.5399 18.0803 26.36 18.2294C26.2587 18.3133 26.175 18.4164 26.1137 18.5328C26.0523 18.6491 26.0145 18.7764 26.0025 18.9074C25.9904 19.0384 26.0043 19.1704 26.0433 19.296C26.0824 19.4216 26.1458 19.5383 26.23 19.6394L29.86 23.9994H18C17.7348 23.9994 17.4804 24.1047 17.2929 24.2923C17.1054 24.4798 17 24.7341 17 24.9994C17 25.2646 17.1054 25.5189 17.2929 25.7065C17.4804 25.894 17.7348 25.9994 18 25.9994Z" fill="white"/>
						</svg>
					</div>
				</div>
			</div>
			<!-- current openings -->
			<div class="lg:px-16 lg:py-20">
				<div class="inner-layer flex lg:flex-row flex-col card-banner px-8 py-16 lg:items-center">
					<div class="">
						<div class="card-title">Currrent Opennings</div>
						<div class="card-description mt-6">SPI experience staffing for a variety of roles, including Contract, permanent, Contract to hire positions.</div>
					</div>
					<div class="flex-1 flex lg:justify-end justify-start lg:mt-0 mt-8">
						<Cbtn colorbtnText="Explore openeings" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
					</div>
				</div>
			</div>
			<!-- social walls -->
			<div class="lg:px-16 px-8 py-16">
				<div class="inner-layer">
					<div class="">
						<div class="social-wall">Social Wall</div>
					</div>
					<div class="flex lg:flex-row flex-col gap-6 mt-8">
						{
							social_feeds.map((data, index) => (
								<div class="flex-1 p-4 border-[1.5px] rounded-lg">
									<div class="flex items-center mb-4">
										<img src="/logos/small_logo.webp" class="mr-4" width="45px" height="45px" />
										<div class="social_feed_title">{data.title}</div>
									</div>
									<div>
										<img src={ data.url } width="100%" />
									</div>
									<div class="py-2 border-b-[1.5px] border-[#64676B]">
										<img src="/like_share.webp" width="33" height="16.5" />
									</div>
									<div class="flex justify-around like_share mt-2">
										<div>
											like
										</div>
										<div>
											Comment
										</div>
									</div>
								</div>
							))
						}
					</div>
				</div>
			</div>
			<!-- contact form -->
			<div class="bg-black lg:px-16 lg:py-24">
				<div class="contact-form-section flex-1 lg:py-8 py-20 lg:px-24 bg-[#141414]">
					<!-- contact form -->
					<div class="enquire_contact_form" id="enquire_popup_form">
						<div class="form_section">
							<div class="contact_heading pb-6 text-center border-b-[1.5px] border-[#FFFFFF0A] mb-12">Get in touch with us</div>
							<form id="w3form" method="POST">
								<!-- Replace with your Access Key --> 
								<input type="hidden" name="access_key" value="37b9a42b-8539-41df-8a36-67e1e37c274c">
								<!-- <input type="hidden" name="replyto" value="shelton@venzotechnologies.com" /> -->
								<input type="hidden" name="from_name" value="Kytz Enquiry">

								<!-- hello@kytz.com <input type="hidden" name="access_key" value="37b9a42b-8539-41df-8a36-67e1e37c274c"> -->
								<!-- venzo@gmail.com <input type="hidden" name="access_key" value="5a696bab-69df-44a8-8dad-39e7c0e07877"> -->
								<!-- shelton -->
								<!-- <input type="hidden" name="access_key" value="eef15f7d-f8da-4e00-a000-c362e14eb7c0"> -->
								<div class="flex lg:flex-row flex-wrap gap-5 flex-col justify-between form_datas">
									<div class="line flex-none w-[48%]">
										<input type="text" class="line_field" id="Kname" name="name" maxlength="255" placeholder="Enter full name" required>
										<span class="error" id="username_err"> </span>
									</div>
									<div class="line flex-none w-[48%]">
										<input type="text" class="line_field" id="Kcompany" maxlength="40" name="company name" placeholder="Enter bussiness email">
										<span class="error" id="username_err"> </span>
									</div>
									<div class="line flex-1">
										<input type="email" maxlength="255" name="Email" class="line_field" id="Kemail" placeholder="Enter organization name*" required>
										<span class="error" id="email_err"> </span>
									</div>
									<div class="line flex-1">
										<input type="text" name="phone" maxlength="18" id="Knumber" class="line_field" placeholder="Enter phone number" required>
										<span class="error" id="mobile_err"> </span>
									</div>
									<div class="line w-full">
										<textarea class="line_field" name="Message" id="Kmessage" maxlength="500" placeholder="Tell us about you need in detail"></textarea>
										<span class="error" id="message_err"> </span>
									</div>
									<div class=""><button class="apply_now mt-2 px-12 py-2" id="submitbtn">submit</button></div>
								</div>
								<div id="message"></div>
								<div class="terms_condition hidden">
									By clicking send, you accept our <a href="">privacy policy</a> Prefer email? <a href="mailto:hello@kytz.in">hello@kytz.in</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>
<script client:visible>
    var inner_layer = document.querySelector(".inner-layer-award").getBoundingClientRect().y;
    var inner_layer2 = document.querySelector(".inner-layer-innovator").getBoundingClientRect().y;
	var innovator = document.querySelectorAll(".innovator-content");
    var first_number= Number(inner_layer2.toFixed());
    var second_number= Number(inner_layer.toFixed());

	window.onscroll = () => {
        var page_position = window.pageYOffset;
        var page_cutoff = Number(page_position.toFixed());   

		if(page_cutoff > (first_number - 200)) {
			console.log("entered");
			innovator.forEach((inn, innIndex) => {
				inn.style.transition="all 1s";
				inn.style.transform="translateY(0)";
			})
        }else{
			innovator.forEach((inn, innIndex) => {
				inn.style.transition="all 1s";
				inn.style.transform="translateY(100%)";
			})
        }
        
        if(page_cutoff > (second_number - 160)) {
			document.querySelector(".award-title").style.transition="all 1s";
			document.querySelector(".award-title").style.transform="translateY(0)";
			document.querySelector(".award-content-section").style.transition="all 1s";
			document.querySelector(".award-content-section").style.transform="translateY(0)";
			document.querySelector(".logos").style.transition="all 1.5s";
			document.querySelector(".logos").style.transform="translateY(0)";
        }else{
			document.querySelector(".award-title").style.transition="all 1s";
			document.querySelector(".award-title").style.transform="translateY(100%)";
			document.querySelector(".award-content-section").style.transition="all 1s";
			document.querySelector(".award-content-section").style.transform="translateY(100%)";
			document.querySelector(".logos").style.transition="all 1.5s";
			document.querySelector(".logos").style.transform="translateY(100%)";
        }
     }
	document.addEventListener("DOMContentLoaded", () => {
		window.history.pushState({}, document.title, window.location.pathname);

		var first = document.querySelector(".post:nth-child(1)");
		var posts = document.querySelectorAll(".post").length;
		var allposts=document.querySelectorAll(".post");
		var hoverF = document.querySelector(".post-forward-buttons");
		var hoverB = document.querySelector(".post-back-buttons");
		var present_count = 0;
		console.log(posts);
		var cut_off = (posts / 1) - 1;
		var cut_offmb = posts - 1;

		// Get the width of a single post element dynamically
		function getPostWidth() {
			return document.querySelector(".post").offsetWidth;
		}

		if (window.innerWidth > 600) { 
			hoverB.onclick = () => {
				if (present_count > 0) {
					present_count--;

					hoverB.style.border="1px solid grey";
					hoverB.style.borderRadius="5px";
					hoverF.style.border="none";

					allposts.forEach((single, singleI) => {
						single.classList.remove("pre-post");
					})

					allposts[present_count].classList.add("pre-post");

					// Adjust the marginLeft using the post width
					first.style.marginLeft = "-" + (getPostWidth() * present_count) + "px";
				}
			};

			hoverF.onclick = () => {
				if (present_count < cut_off) {
					present_count++;
					
					allposts.forEach((single, singleI) => {
						single.classList.remove("pre-post");
					})

					allposts[present_count].classList.add("pre-post");

					hoverF.style.border="1px solid grey";
					hoverF.style.borderRadius="5px";
					hoverB.style.border="none";


					// Adjust the marginLeft using the post width
					first.style.marginLeft = "-" + (getPostWidth() * present_count) + "px";
				}
			};
		} else {
			hoverB.onclick = () => {
				if (present_count > 0) {
					present_count--;

					hoverB.style.border="1px solid grey";
					hoverB.style.borderRadius="5px";
					hoverF.style.border="none";

					// Adjust the marginLeft using the post width
					first.style.marginLeft = "-" + (getPostWidth() * present_count) + "px";
				}
			};

			hoverF.onclick = () => {
				if (present_count < cut_offmb) {
					present_count++;

					hoverF.style.border="1px solid grey";
					hoverF.style.borderRadius="5px";
					hoverB.style.border="none";

					// Adjust the marginLeft using the post width
					first.style.marginLeft = "-" + (getPostWidth() * present_count) + "px";
				}
			};
		}
	})
</script>
