---
import Header from "@layouts/Layout.astro"
import Nav from "@components/Nav.astro"
import Footer from "@components/Footer.astro"
// import "../../form.css"
import { array } from "astro:schema"
const currentUrl=Astro.request.url
import Cbtn from "@components/button/Cbtn.astro"
import TransparentBtn from "@components/button/TransparentBtn.astro"
import CareerPop from "@components/Forms/CareerPop"

const career = [
	{ title:"Technical Engineer", link : "/career/technical-engineer", tag: ["US", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Senior Software Engineer", link : "/career/senior-software-engineer", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
]
// <ul style='list-style-type:disc; padding-left: 1rem;'><li>Overall 10+ years of IT Experience.</li><br><br> <li>3+ years of Experience with Appian Analyst and Appian Designer Level certified;</li><li>Ability to lead a team of distributed engineers</li>", url: "/services/services_image1.webp", link : "services/airport-capabilities"
// Overall 10+ years of IT Experience.
// 3+ years of Experience with Appian Analyst and Appian Designer Level certified;
// Ability to lead a team of distributed engineers;
// Knowledge of at least one major programming language;
// Knowledge of Sites, complex SAIL Forms;
// Should have done multiple integrations with external systems;
// Ability to scope Appian Projects;
// Bachelor’s Degree in Computer Science.


const career1 = [
	{ title:"C++ Developer", link : "/career/C++-Developer", tag: ["Flower Mound, Texas", "Full-Time"], description: "<ul class='list-disc pl-6'><li class='post-date'>Good knowledge of C++ development in Linux environment.</li><li class='post-date'>Good Knowledge of Boost C++ Library.</li> <li class='post-date'>Good knowledge of Object Oriented Programming.</li></ul>", url: "/services/services_image1.webp"},
	{ title:"Appian Developer (INDIA)", link : "/career/appian-developer-India", tag: ["Chennai G.P.O., Tamil Nadu", "Full-Time"], description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>Overall 10+ years of IT Experience.</li><li>3+ years of Experience with Appian Analyst and Appian Designer Level certified.</li><li>Ability to lead a team of distributed engineers.</li>", url: "/services/services_image1.webp"},
	{ title:"Appian Developer (US)", link : "/career/appian-developer-US", tag: ["Flower Mound, Texas", "Full-Time"], description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>5+ years of Experience with Appian Analyst and Appian Designer Level certified.</li><li>Ability to lead a team of distributed engineers; Knowledge of at least one major programming language.</li><li>Knowledge of Sites, complex SAIL Forms.</li></ul>"},
	{ title:"Full Stack Java EE Developer", link: "/career/Full-Stack-Java-EE-Developer", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Software Developer (GIS)", link : "/career/software-developer-GIS", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Lead Software Developers", link : "/career/lead-software-developers", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Software Developers (Job Code 001)", link : "/career/software-developers-Job-Code-001", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Software Developers", link : "/career/software-developers", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Software Developer – II", link : "/career/software-developers-II", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Software Developer – I", link : "/career/software-developers-I", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Sr .Net Developer", link: "/career/Sr-Net-Developer",  tag: ["Flower Mound, TX", "Full-Time"], description: "Sr .NET developer to design, develop, implement, and support new and enhanced solutions for our Train Control safety-critical systems such as Positive Train Control. "},
]

const career2 = [
	{ title:"MDM Quality Analyst – 20200502", link : "/career/MDM-Quality-Analyst–20200502", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Computer Systems Analyst I", link : "/career/Computer-Systems-Analyst-I", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Computer Systems Analyst II", link : "/career/Computer-Systems-Analyst-II", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Computer Systems Analyst", link : "/career/Computer-Systems-Analyst", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."}
]

const career3 = [
	{ title:"IT Recruiter/Account Manager", link : "/career/IT-Recruiter-Account-Manager", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"IT Recruiter", link : "/career/IT-Recruiter", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
]

const career4 = [
	{ title:"JAVA with Groovy", link: "/career/JAVA-with-Groovy", tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Business Development Manager", link: "/career/Business-Development-Manager",  tag: ["Flower Mound, TX", "Full-Time"], description: "The company and other persons or employers are released from all liability brought forth by any investigation resulting from my submission of this electronic application and the data contained here in."},
	{ title:"Manual Tester", link: "/career/Manual-Tester",  tag: ["Flower Mound, TX", "Full-Time"], description: "Manual testing the web project skills and create test case and validation additionally validate the backend SQL query plus testing the API using Postman."},
	{ title:"Senior Technical IT Recruiter (DFW based)", link: "/career/Sr-Recruiter",  tag: ["Flower Mound, TX", "Full-Time"], description: "Sr .NET developer to design, develop, implement, and support new and enhanced solutions for our Train Control safety-critical systems such as Positive Train Control. "},
	{ title:"SAP BASIS Consultant", link: "/career/SAP-BASIS-Consultant",  tag: ["Flower Mound, TX", "Full-Time"], description: "SAP Basis Administrator with over 10 years of experience managing SAP on premise and cloud SAP OS/DB migrations, preferably to Azure. The successful candidate should have strong analytical and problem-solving skills and substantial experience in a wide range of SAP systems for both technical and application related aspects of SAP systems environments.  "},
	{ title:"Business Development Manager", link: "/career/Business-Development-Manager",  tag: ["Flower Mound, TX", "Full-Time"], description: "Plan and carry out all sales activities on assigned accounts (cuurent and new) or areas. Builds market position by locating, developing, defining, negotiating, and closing business relationships. Responsible for ensuring customer satisfaction and managing quality of staffing services. "},
]

const videos = [
	{ url: "/career/career1.webp", title:"Company Values", description: "Trust, learning, honesty, and co-operation are the pillars that sit at the core of what we do."},
	{ url: "/career/career2.webp", title:"Friendly Atmosphere", description: "We hold a positive attitude in order to foster respect and decency for our entire team."},
	{ url: "/career/career3.webp", title:"Work-life balance", description: "For us, a healthy personal life is just as important as the time you spend in the office."},
	{ url: "/career/career4.webp", title:"Grow Everyday", description: "We provide the necessary support to ensure your skills never stop growing."},
]

---

<Header title="Career" canonical={ currentUrl }>
	<style>
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 15px;
            font-weight: 500;
            line-height: 28.8px;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
            font-size: 75px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.03em;
            text-align: left;
			color: white;
		}
		.site-title-layer {
			background-image: url("/career_design.webp");
			background-size: cover;
			height: 100%;
			background-position: left;
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 16px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

		/* careerlist */
		.career_list {
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}

		.career_list > li:nth-child(1) {
			background-color: white;
			color: black;
			padding-left: 10px;
			padding-right:10px;
		}

		.career_title{
			font-family: Instrument Sans;
			font-size: 28px;
			font-weight: 600;
			line-height: 44.8px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #090808;
		}

		.career-description{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #090808;
		}

		.list_desc{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF99;
		}

		.career_tie{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;

		}

		.career_title2 {
			font-family: Instrument Sans;
			font-size: 21px;
			font-weight: 500;
			line-height: 25.62px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}

		.career_desc{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: -0.01em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF99;
		}

		.position{
			display: none;
		}

		.active_position{
			display: block;
		}

		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 44px;
                line-height:60.8px;
            }
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 py-12 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex lg:flex-row flex-col items-center justify-between border-[#FFFFFF33] w-full">
				<h1 class="home_title text-start lg:mb-0 mb-10">
					Make an Impact,<br> Make It Here
				</h1>
				<div>
					<Cbtn colorbtnText="Join our Team" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
				</div>
			</div>
		</div>
		<section>
			<CareerPop client:load />

			<div class="relative pb-16 bg-black">
                <img src="/career_banner.webp" width="100%" height="500px" alt="airline" />
            </div>

			<!-- services -->
			<div class="lg:px-16 px-8 lg:pb-28 bg-black">
				<div class="inner-layer lg:pb-0 pb-8 flex lg:flex-row flex-col gap-12">
					<div class="flex-none lg:w-[28%] lg:h-screen lg:sticky top-0">
						<ul class="career_list lg:block flex flex-wrap gap-6">
							<li class="lg:py-5 pb-2 cursor-pointer">Engineer (2)</li>
							<li class="lg:py-5 pb-2 cursor-pointer">Developer (7)</li>
							<li class="lg:py-5 pb-2 cursor-pointer">Analyst (4)</li>
							<li class="lg:py-5 pb-2 cursor-pointer">IT Recruiter (2)</li>
							<li class="lg:py-5 pb-2 cursor-pointer">Other positions(2)</li>
						</ul>
						<div class="list_desc mt-5">Didn’t find your role? Share your Resume and contact info—we’ll reach out!</div>
						<button class="border border-white py-2 px-5 inline-flex items-center mt-10 brand-button cursor-pointer" style="font-size: 15px; color: white;">
							Upload Your Resume
						</button>
					</div>
					<div class="flex-1">
						<div class="position active_position">
							{
								career.map((data, dataIndex) => (
									<div class="bg-white py-6 px-8 mb-12">
										<div class="career_title pb-4">{data.title}</div>
										<div class="tags flex lg:flex-row flex-col gap-5">
											<div class="lg:mb-0 mb-2">
												<TransparentBtn btnText={data["tag"][0]} />
											</div>
											<div>
												<TransparentBtn btnText={data["tag"][1]} />
											</div>
										</div>
										<div class="career-description pt-10">
											{data.description}
										</div>
										<div class="mt-5 text-end">
											<a href={ data.link }>
												<Cbtn colorbtnText="Apply Now" classname="" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
											</a>
										</div>
									</div>
								))
							}
						</div>
						<div class="position">
							{
								career1.map((data, dataIndex) => (
									<div class="bg-white py-6 px-8 mb-12">
										<div class="career_title pb-4">{data.title}</div>
										<div class="tags">
											<TransparentBtn btnText={data["tag"][0]} />
											<TransparentBtn btnText={data["tag"][1]} />
										</div>
										<div class="career-description pt-10" set:html={data.description}>
											
										</div>
										<a href={ data.link }>
											<div class="mt-5 text-end">
												<Cbtn colorbtnText="Apply Now" classname="" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
											</div>
										</a>
									</div>
								))
							}
						</div>
						<div class="position">
							{
								career2.map((data, dataIndex) => (
									<div class="bg-white py-6 px-8 mb-12">
										<div class="career_title pb-4">{data.title}</div>
										<div class="tags">
											<TransparentBtn btnText={data["tag"][0]} />
											<TransparentBtn btnText={data["tag"][1]} />
										</div>
										<div class="career-description pt-10">
											{data.description}
										</div>
										<a href={ data.link }>
											<div class="mt-5 text-end">
												<Cbtn colorbtnText="Apply Now" classname="" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
											</div>
										</a>
									</div>
								))
							}
						</div>
						<div class="position">
							{
								career3.map((data, dataIndex) => (
									<div class="bg-white py-6 px-8 mb-12">
										<div class="career_title pb-4">{data.title}</div>
										<div class="tags">
											<TransparentBtn btnText={data["tag"][0]} />
											<TransparentBtn btnText={data["tag"][1]} />
										</div>
										<div class="career-description pt-10">
											{data.description}
										</div>
										<a href={ data.link }>
											<div class="mt-5 text-end">
												<Cbtn colorbtnText="Apply Now" classname="" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
											</div>
										</a>
									</div>
								))
							}
						</div>
						<div class="position">
							{
								career4.map((data, dataIndex) => (
									<div class="bg-white py-6 px-8 mb-12">
										<div class="career_title pb-4">{data.title}</div>
										<div class="tags">
											<TransparentBtn btnText={data["tag"][0]} />
											<TransparentBtn btnText={data["tag"][1]} />
										</div>
										<div class="career-description pt-10">
											{data.description}
										</div>
										<a href={ data.link }>
											<div class="mt-5 text-end">
												<Cbtn colorbtnText="Apply Now" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
											</div>
										</a>
									</div>
								))
							}
						</div>
						<!-- <div class="flex justify-between items-center items-center">
							<div class="inline-flex text-white items-center gap-2">
								Next page
								<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464466C9.97631 0.269204 9.65973 0.269204 9.46447 0.464466C9.2692 0.659728 9.2692 0.976311 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM1 4.5H13V3.5H1V4.5Z" fill="white"/>
								</svg>
							</div>
							<div class="inline-flex gap-3 text-white items-center">
								1-3 
								<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect width="33" height="33" fill="white" fill-opacity="0.12"/>
									<path d="M20 9L13 16.5L20 24" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect width="33" height="33" fill="white" fill-opacity="0.12"/>
									<path d="M13 9L20 16.5L13 24" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>	
							</div>
						</div> -->
					</div>	
				</div>
			</div>

			<div class="lg:px-16 px-8 lg:pb-28 lg:pt-0 pt-20 bg-black">
				<div class="inner-layer lg:pb-0 pb-8">
					<div class="career_tie text-white mb-8">
						What makes <span class="text-[#B5DB00]">SPI a great place</span> to work?
					</div>
					<div class="lg:grid grid-cols-4 flex-col gap-4">
						{
							videos.map((data, dataIndex) => (
								<div class="p-4 bg-[#FFFFFF14] lg:mb-0 mb-12">
									<div>
										<img src={data.url} width="100%" />
									</div>
									<div class="career_title2 py-4">
										{ data.title }
									</div>
									<div class="career_desc">
										{ data.description }
									</div>
								</div>
							))
						}
					</div>
				</div>
			</div>

			<Footer />
		</section>
	</header>
</Header>
<script>
	var position=document.querySelectorAll(".position");
	var career_list=document.querySelectorAll(".career_list > li");
	
	career_list.forEach((data, dataIndex) => {

		data.onclick = () => {
			position.forEach((line, lineIndex) => {
				line.classList.remove("active_position");
				career_list[lineIndex].style.backgroundColor="black";
				career_list[lineIndex].style.paddingLeft="0";
				career_list[lineIndex].style.paddingRight="0";
				career_list[lineIndex].style.color="white";
			})
			position[dataIndex].classList.add("active_position");
			data.style.backgroundColor="white";
			data.style.paddingLeft="12px";
			data.style.paddingRight="12px";
			data.style.color="black";
		}
	})

	var brand_btn = document.querySelectorAll(".brand-button");
    var form_close = document.querySelector(".kytz_form_close");
    var com_form=document.querySelector("#enquire_form");

	brand_btn.forEach((e, n) => {
		console.log("its coming");
		e.onclick = () => {
			(com_form.style.display = "flex");
		};
	}),

    (form_close.onclick = () => {
         (com_form.style.display = "none"), w3form.reset(), (usererror.innerHTML = ""), (emailerr.innerHTML = ""), (mobilerror.innerHTML = ""), (messageerror.innerHTML = "");
    }),
    (window.onclick = (e) => {
        e.target === com_form && ((com_form.style.display = "none"), w3form.reset());
    });

</script>

